
.icon-bookmark:before { content: '\e802'; } /* '' */
.icon-menu:before { content: '\e804'; } /* '' */
.icon-left:before { content: '\e807'; } /* '' */
.icon-right:before { content: '\e806'; } /* '' */
.icon-up:before { content: '\e805'; } /* '' */