/*  
Skin Name: Full Wrap
Version: 1.0
Description: Skin for Base
*/

body {
	background-color: #f5f8f9;
	color: #666;
}

/************************************************************************************
HEADER
*************************************************************************************/
#headerwrap {
	background-color: #e8eef0;
	border-bottom: solid 1px #d2dadd;
}
#header {
	border: none;
}

#site-description {
	color: #666;
}

/* 
MAIN NAVIGATION
================================================ */
/* mobile nav button and menu links*/
.mobile-button,
#main-nav a {
	color: #555;
}

/* dropdown ul */
#main-nav ul,
#main-nav.active {
	border-color: #aaa;
}
#main-nav ul:before,
#main-nav.active:before {
	border-bottom-color: #aaa;
}
#main-nav ul ul:before {
	border-right-color: #aaa;
}

/************************************************************************************
POST
*************************************************************************************/
/* post meta */
.post-meta a {
	color: #666;
	color: rgba(0,0,0,.6);
}

/* meta divider */
.post-meta .post-author:after,
.post-meta .post-category:after,
.post-meta .post-tag:after {
	background: rgba(0,0,0,.6);
}

/************************************************************************************
FOOTER
*************************************************************************************/
#footerwrap {
	background-color: #e8eef0;
	border-top: solid 1px #d2dadd;
}
#footer {
	border: none;
}